[submodule "tests/bats.d/bats-support"]
	path = tests/bats.d/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "tests/bats.d/bats-assert"]
	path = tests/bats.d/bats-assert
	url = https://github.com/bats-core/bats-assert.git
